CONFIG_PACKAGE_kmod-nf-conntrack-bridge=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_mount-utils=y
# Derek: enable ccache (paired with the ccache cache/setup steps in
# .github/workflows/release.yml)
CONFIG_CCACHE=y
CONFIG_CCACHE_DIR="/home/runner/.ccache"
